* {
    box-sizing: border-box;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    font-family: 'Roboto Flex', sans-serif;
    -webkit-font-smoothing: antialiased;
    background: #ececec;
}
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 70%;
    width: 60%;  
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 1px 12px rgba(0,0,0, 0.20); 
}
.form-url {
    display: flex;
    flex-direction: column;
    justify-items: center;
}
.elements {
    display: block;
    width: 100%;
    height: auto;
    margin-bottom: 12px;
}
.flex-fieldset {
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 60%;
    height: 50%;
    border: 0.2px solid #9c9c9c;
    border-radius: 5px;
    font-size: 15px;
    color: #606060;
    padding: 20px 20px;
}
.flex-fieldset legend {
    font-size: 12px;
    color: #9c9c9c;
}
input {
    width: 50%;
}
button {
    cursor: pointer;
}